{% extends 'shop/base.html'%}
{% load my_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="mx-auto p-2">
                <form class="row" method="post" enctype="multipart/form-data">
                    <div class="card">
                        <img src="{{ object.image | media_filter }}" class="col-5 card start-50 translate-middle-x ">
                        <div class="col text-center">
                            <div class="card-body">
                                <h3>Действительно ли хотите удалить {{ object.name }}?</h3>
                                <button type="submit" class="btn btn-danger">
                                    Удалить
                                </button>
                                <a href="{% url 'shop:product_list' %}" class="btn btn-warning"
                                   role="button">Отменить</a>
                                {% csrf_token %}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
