{% extends 'shop/base.html'%}
{% load my_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-5" style="">
            <img src="{{ object.image | media_filter }}" class="card-img-top" alt="...">
        </div>
        <div class="col-5">
                <h5 class="text-start">{{ object.brand }} {{object.name }}</h5>
                <p class="card-text">{{ object.description_full }}</p>
                <a href="#" class="btn btn-primary text-end">В корзину</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}