{% extends 'shop/base.html' %}
{% load my_tags %}
{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-6 mb-4">
            <img src="{{ object.image | media_filter }}" class="img-fluid rounded" alt="{{ object.name }}">
        </div>
        <div class="col-md-6">
            <h5 class="text-start">{{ object.brand }} {{ object.name }}</h5>
            <p class="text-muted">{{ object.description_full }}</p>
            <h5 class="text-success">{{ object.price | price_filter }} ₽</h5>
            <div class="d-flex justify-content-start mt-4">
                <a href="#" class="btn btn-primary me-2">В корзину</a>
                <a href="{% url 'shop:product_update' object.pk %}" class="btn btn-warning me-2">Редактировать</a>
                <a href="{% url 'shop:product_delete' object.pk %}" class="btn btn-danger">Удалить</a>
            </div>
            <small class="text-body-secondary mt-3">Просмотров: {{ object.views_counter }}</small>
        </div>
    </div>
</div>
{% endblock %}
